p{color: black; background-color: white;text-align: justify;}
h1{color: white; background-color: lightblue;}
.first_heading{color: thistle; background-color: tomato; font-family: 'Times New Roman', Times, serif;}
.thirdheading{color: violet; background-color: white; border: 15px solid black;}
#intro .first_heading notag{color: yellowgreen; background-color: white; font-size: 2em;}