*{
    margin: 0;
    padding: 0;
    user-select: none;
}

a{
    text-decoration: none;
    color: inherit;
}

@font-face{
    font-family: roboto;
    src: url(Fonts/Roboto-Regular.ttf);
}

body{
    font-family: roboto;
}

.header{
    background-color: black;
    width: 100%;
    height: auto;
    position: fixed;
    display: block;
    z-index: 100;
}

.logo{
    text-align: center;
    padding-top: 10px;
}

.nav-bar ul{
    margin-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
}

.nav-bar li{
    display: inline;
    padding: 2px 6px;
    margin: 0.01%;
    color: white;
    font-size: 15px;
    list-style-type: none;
}

.active{
    background-color: cornflowerblue;
    border-radius: 5px;
}

.nav-bar li:hover{
    background-color: cornflowerblue;
    border-radius: 5px;
}

.middle{
    background-color: cornflowerblue;
    padding-top: 135px;
    width: 100%;
    height: auto;
}

.middle h2{
    text-align: center;
    padding-top: 30px;
    width: 90%;
    margin: 0px auto;
}

.middle p{
    text-align: center;
    width: 90%;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.main-content{
    margin: auto;
    text-align: center;
    padding: 30px 15px 10px;
}

.subject-hover{
    border-color: blue;
    box-shadow: inset 0 0 5px 3px cornflowerblue;
    border-radius: 8px;
    margin: 0px 5px 10px;
    width: 130px;
    height: 90px;
    font-size: 16px;
    padding-top: 40px;
    list-style: none;
    display: inline-block;
}

.subject-hover:hover{
    transform: scale(1.1,1.1);
}

.proverb{
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
}

.proverb p{
    padding: 5px 10px;
}

.footer{
    width: 100%;
    height: auto;
    background-color: black;
}

.footer-logo{
    display: none;
}

.subscribe{
    color: grey;
    margin: 0px 10%;
}

.subscribe form{
    text-align: center;
    padding: 30px 0px 0px;
    font-size: 18px;
}

.subscribe p{
    padding-bottom: 10px;
}

.social{
    color: white;
    display: none;
}

.social-mobile{
    text-align: center;
    padding: 30px 0px;
}

.social-icons{
    padding: 0px 2%;
    display: inline-block;
}

.social-icons a:hover{
    filter: invert();
}

.copyright footer{
    background-color: grey;
    text-align: center;
    padding-top: 5px;
    height: 30px;
}



@media only screen and (min-width: 768px){
    
    .logo{
        float: left;
        padding-left: 8%;
    }

    .logo img{
        transform: scale(1.1,1.1);
        padding: 30px 0px 40px;
    }
    
    .nav-bar{
        padding-right: 5%;
    }

    .nav-bar ul{
        margin-top: 65px;
        padding-bottom: 0px;
        text-align: right;
    }
    
    .nav-bar li{
        padding: 3px 7px;
        font-size: 18px;
    }
    
    .middle{
        padding-top: 150px;
    }
    
    .middle h2{
        padding-top: 40px;
    }
    
    .middle p{
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .main-content{
        padding: 30px 30px 20px;
    }
    
    .subject-hover{
        margin: 0px 10px 10px;
        width: 150px;
        height: 100px;
        padding-top: 50px;
    }
    
    .proverb p{
        padding: 10px 10px;
    }
    
    .footer{
        height: 150px;
    }
    
    .footer-logo{
        display: block;
        float: left;
    }

    .footer-logo img{
        padding-top: 30px;
        padding-left: 10%;
    }
    
    .subscribe{
        margin: 0px 5%;
    }
    
    .subscribe form{
        float: right;
        padding: 35px 0px 0px;
    }

    .social{
        width: 140px;
        margin: auto;
        display: block;
    }

    .social-wrap{
        width: 100%;
        height: 140px;
        padding-top: 13px;
    }

    .social-account{
        width: 100%;
        height: 30px;
        padding-bottom: 8px;
        color: grey;
    }

    .social img{
        float: left;
        padding: 0px 10px 0px 0px;
        filter: invert(100%);
    }

    .social-account:hover{
        color: white;
    }

    #social-hover:hover .highlight-icon{
        filter: invert(0%);
    }

    .social h4{
        padding-top: 2px;
        font-size: 19px;
    }

    .social-mobile{
        display: none;
    }

}




@media only screen and (min-width: 900px){ 
    .middle h2{
        padding-top: 50px;
        font-size: 48px;
        font-weight: 1200;
    }
    
    .middle p{
        width: 70%;
        padding-top: 20px;
        padding-bottom: 70px;
        font-size: 25px;
    }

    .main-content{
        padding: 30px 30px 20px;
    }
    
    .subject-hover{
        width: 200px;
        height: 130px;
        padding-top: 70px;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}


@media only screen and (min-width: 1200px){
    .footer-logo{
        margin-left: 13%;
    }
    .subscribe{
        margin-right: 15%;
    }
}